<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js"></script>
</head>
<body>
    <div id="app">
        <h1>ToDo App</h1>
        <div>
            <p>Tienes {{tamanio}} tareas pendientes, {{sinTerminar}} están pendientes</p>
        </div>
        <input v-model="nueva">
        <button v-on:click="crear">Crear</button>
        <div>
            <div v-for="(nota, index) in notas" v-bind:key="index">
                <h3>{{nota.nota}}</h3>
                <p>{{nota.fecha}}</p>
                <br>
                <button v-on:click="terminar(index)">o</button>
                <button v-on:click="eliminar(index)">x</button>
            </div>
        </div>
    </div>      
</body>
</html>